*{
    border:0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 197, 211);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 20vh;

}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}